.contenedor{
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
button {
    padding: 1vw;
    border-radius: .5vw;
}
.contenedor{
    display: grid;
        grid-template-areas:
        "prueba prueba prueba"
        "cuadrado cuadrado cuadrado"
        "espacio buttonContainer buttonContainer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr .5fr;
        grid-gap: 5px;
        text-align: center;
}
.buttonContainer {
    grid-area: buttonContainer;
    display: grid;
    grid-template-areas: "boton boton2 texto";
    grid-template-columns: .1fr .1fr .3fr;
    grid-template-rows: 1fr;
}
.prueba{
    display: grid;
    grid-area: prueba;
}
.texto{
    display: grid;
    grid-area: texto;
    border: 2px solid lightseagreen;
        margin: 10px 10px;
        padding: 1vw;
    border-radius: .5vw;
}
.cuadrado{
    display: grid;
    grid-area: cuadrado;
    margin: 10px 10px;
}

.dos{
    grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
}
.dos:hover{
    background-color: lightgreen;
}
.tres{
    grid-area: boton;
    border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
}
.tres:hover{
    background-color: pink;
}