
.cuadrado {
    position: absolute;
width: 500px;
height: 300px;
left: 50px;
top: 220px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
}
.cuadrado-2{
    position: absolute;
width: 560px;
height: 300px;
left: 650px;
top: 220px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
}
.boton{
    position: absolute;
width: 200px;
height: 65px;
left: 50px;
top: 550px;
background: #FFFFFF;
border: 3px solid #00ADF8;
box-sizing: border-box;
border-radius: 15px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
text-align: center;
color: #00ADF8;
}
.boton-2{
    position: absolute;
width: 200px;
height: 65px;
left: 350px;
top: 550px;
background: #FFFFFF;
border: 3px solid #DA00C4;
box-sizing: border-box;
border-radius: 15px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
text-align: center;
color: #DA00C4;
}
h2{
    position: absolute;
width: 485px;
height: 34px;
left: 50px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;

color: #000000;
}
p{
    position: absolute;
width: 1715px;
height: 116px;
left: 50px;
top: 130px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
color: #000000;
}