<div class="contenedor">
    <div class="descripcion">
        <div class="imchar"><h2>IMCHAR</h2></div>
         <div class="p"><p>This application let you convert from an uploaded image of handwritten text imagen to characters.</p></div>
    </div>
    <div class="cuadrado">
        <div id="grid"></div>
    </div>
    <div class="buttonContainer">
        <button class="tres" (click)="reset()">RESET</button>
        <button class="dos" (click)="getPrediction()">PREDICT</button>
    </div>
    <div class="cuadrado2">
        <p>
            {{ prediction }}
        </p>
    </div>
</div>