/* este es todos los celulares menos el plus*/
.contenedor{
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

button {
    padding: 1vw;
    border-radius: .5vw;
}
@media screen and (max-width:411px){
    .contenedor{
        display: grid;
        grid-template-areas:
        "descripcion descripcion"
        "cuadrado cuadrado"
        "buttonContainer buttonContainer"
        "cuadrado2 cuadrado2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .descripcion{
        grid-area: descripcion;
        display: grid;
        grid-template-areas:"imchar"
                            "p";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .imchar{
        grid-area: imchar;
    }
    .p{
        grid-area: p;
    }
    .cuadrado{
        grid-area: cuadrado;
        
    }
    .cuadrado2{
        grid-area: cuadrado2;
        border: 2px solid black;
    }
    .buttonContainer {
        grid-area: buttonContainer;
    }

    .dos{
        grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dos:hover {
        background-color: lightgreen;
    }
    .tres {
        border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .tres:hover {
        background-color:pink;
    }
}
  
/* Tablet*/ 
@media screen and (min-width:769px) and (max-width:991px){
    .contenedor{
        display: grid;
        grid-template-areas:
        "descripcion descripcion"
        "cuadrado cuadrado"
        "buttonContainer buttonContainer"
        "cuadrado2 cuadrado2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .descripcion{
        grid-area: descripcion;
        display: grid;
        grid-template-areas:"imchar"
                            "p";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .imchar{
        grid-area: imchar;
    }
    .p{
        grid-area: p;
    }
    .cuadrado{
        grid-area: cuadrado;
        
    }
    .cuadrado2{
        grid-area: cuadrado2;
        border: 2px solid black;
    }
    .buttonContainer {
        grid-area: buttonContainer;
    }

    .dos{
        grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dos:hover {
        background-color: lightgreen;
    }
    .tres {
        border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .tres:hover {
        background-color:pink;
    }
}

/* ipad */
@media screen and (min-width:412px) and (max-width:768px){
    .contenedor{
        display: grid;
        grid-template-areas:
        "descripcion descripcion"
        "cuadrado cuadrado"
        "buttonContainer buttonContainer"
        "cuadrado2 cuadrado2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .descripcion{
        grid-area: descripcion;
        display: grid;
        grid-template-areas:"imchar"
                            "p";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .imchar{
        grid-area: imchar;
    }
    .p{
        grid-area: p;
    }
    .cuadrado{
        grid-area: cuadrado;
        
    }
    .cuadrado2{
        grid-area: cuadrado2;
        border: 2px solid black;
    }
    .buttonContainer {
        grid-area: buttonContainer;
    }

    .dos{
        grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dos:hover {
        background-color: lightgreen;
    }
    .tres {
        border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .tres:hover {
        background-color:pink;
    }
}

/*Desktop*/
@media screen and (min-width:992px) and (max-width:1199px){
    .contenedor{
        display: grid;
        grid-template-areas:
        "descripcion descripcion"
        "cuadrado cuadrado"
        "buttonContainer buttonContainer"
        "cuadrado2 cuadrado2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .descripcion{
        grid-area: descripcion;
        display: grid;
        grid-template-areas:"imchar"
                            "p";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .imchar{
        grid-area: imchar;
    }
    .p{
        grid-area: p;
    }
    .cuadrado{
        grid-area: cuadrado;
    }
    .cuadrado2{
        grid-area: cuadrado2;
        border: 2px solid black;
    }
    .buttonContainer {
        grid-area: buttonContainer;
    }

    .dos{
        grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dos:hover {
        background-color: lightgreen;
    }
    .tres {
        border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .tres:hover {
        background-color:pink;
    }
}

/*escritorio*/
@media screen and (min-width:1200px){
    .contenedor{
        /* background-color: aqua; */
        margin-left: 5vw;
        margin-right: 5vw;
        display: grid;
        grid-template-areas:
        "descripcion descripcion descripcion descripcion"
        "cuadrado cuadrado cuadrado2 cuadrado2"
        "buttonContainer buttonContainer espacio espacio";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .descripcion{
        grid-area: descripcion;
        display: grid;
        grid-template-areas:"imchar"
                            "p";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .imchar{
        grid-area: imchar;
    }
    .p{
        grid-area: p;
    }
    .cuadrado{
        display: flex;
        flex-flow: column;
        grid-area: cuadrado;
    }
    .cuadrado2{   
        grid-area: cuadrado2;
        border: 2px solid black;
        font-size: 7vw;
    }
    
    .cuadrado2 p{   
        vertical-align: middle;
    }
    
    .buttonContainer {
        grid-area: buttonContainer;
    }

    .dos{
        grid-area: boton2;
        border: 2px solid green;
        margin: 10px 10px;
        background-color: white;
        color: green;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dos:hover {
        background-color: lightgreen;
    }
    .tres {
        border: 2px solid red;
        margin: 10px 10px;
        background-color: transparent;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .tres:hover {
        background-color:pink;
    }
    
}
