*{ 
  overflow: hidden;
  padding: 0.5vh;
  color: white;
}


@media screen and (max-width:411px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "hamburguer logo about";
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  img {
    grid-area: logo;
    margin: auto;
    display: block;
    width: 30vw;
  }
  
  ul {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
  }
  
  a {
    display: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .hamburguer {
    width: 10vw;
    grid-area: hamburguer;
  }
} 
/* Mobile */
@media screen and (min-width:412px) and (max-width:768px) {
  nav {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  img {
    margin: auto;
    display: block;
    width: 20vw;
  }
  
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .hamburguer {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width:769px) and (max-width:991px) {
  nav {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  img {
    margin: auto;
    display: block;
    width: 20vw;
  }
  
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .hamburguer {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width:992px) and (max-width:1199px) {
  nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  img {
    width: 10vw;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .hamburguer {
    display: none;
  }
}

@media screen and (min-width:1200px) {
  nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  img {
    width: 10vw;
  }    
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .hamburguer {
    display: none;
  }
}